#topBar{
	width: 100%;
	z-index:1;
}
#bottomBar{
	width: 100%;
}
#contain{
	position:relative;
}
.nav-bar{
	background-color: rgb(192,17,30);
	width: 100%;
	position: relative;
	padding: 20px 0;
	text-shadow: 2px 2px 4px rgb(0,93,150);
}
ul{
	margin: 0;
	padding: 0;
	text-align: center;
}
.nav-ul{
}
li{
	list-style-type: none; 
	display: inline-block;
	margin: 0 15px;
	position: relative;
}
a{
	text-decoration: none;
	color: rgb(251,251,223);
}
.bar-motion{
	font-size: 23px;
	letter-spacing: 5px;
}
.bar-motion:hover {
	font-size: 25px;
	font-family: 'KulminoituvaRegular', helvetica, sans-serif;
	-ms-transform:rotate(-45deg); 
 	-moz-transform:rotate(-45deg);
  	-webkit-transform:rotate(-45deg);
  	-o-transform:rotate(-45deg);
	color: rgb(0,93,150);
}
#center{
	width: 1023px;
	height: 610px;
	margin: 0 auto;
}
.partyBorder{
	width: 1002px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 2px #000 solid;
	border-radius: 10px;
	background-color: rgb(133,134,139);
}
#centerVs{
	margin-left: 440px;
	margin-top: 80px;
	position: absolute;
}
.demHeader{
	margin: 10px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 60px;
	color: rgb(0,93,150);
	text-shadow: 2px 2px 4px rgb(84,156,201);
}
.repHeader{
	margin: 10px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 60px;
	color:rgb(121,1,2);
	text-shadow: 2px 2px 4px rgb(212,23,30);
}
#leftCol{
	float: left;
	width: 500px;
	height: 600px;
	border: 2px #000 solid;
	border-radius: 10px;
	margin-right: 15px;
}
.percent{
	text-align: center;
	letter-spacing: 5px;
	font-size: 60px;
	color: rgb(0,93,150);
	text-shadow: 2px 2px 4px rgb(84,156,201);
}
#democratDiv{
	width:500px;
	height:150px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 2px #000 solid;
	background: rgb(84,156,201);
}

.leftPicText{
	padding:20px;
}
.rightPicText{
	padding:20px;
}
.candHeader{
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
	letter-spacing: 5px;
	font-family: Verdana;
	font-size: 30px;
	text-shadow: 2px 2px 4px rgb(212,23,30);
}
.circle{
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.circle:hover{
	
	opacity: 0.3;

}
IMG.pic{
	width:140px;
	height:140px;
	display:block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}
IMG.pic2{
	width:140px;
	height:140px;
	display:block;
	margin-right: auto;
	margin-left: auto;
}
IMG.pic2:hover{
	width:160px;
	height:160px;
	display:block;
	margin-right: auto;
	margin-left: auto;
}
#centerVs:hover{
	margin-left: 430px;
	margin-top: 70px;
	position: absolute;
}
#rightCol{
	float:left;
	width: 500px;
	height: 600px;
	border-radius: 10px;
	border: 2px #000 solid;
}
#repubDiv{
	width:500px;
	height:150px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 2px #000 solid;
	background: rgb(84,156,201)
}
#spaceBetweenParties{
	margin-top: 10px;
}
.centerHeader{
	text-align: center;
	position:absolute;
	left: 15%;
	right:15%;
	top:15%;
	bottom: 15%;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgb(251,251,223);
	z-index:1;
	font-family: 'Helvetica Neue', sans-serif; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1;
	text-shadow: 2px 2px 4px rgb(212,23,30);
	/*letter-spacing: 5px;*/
	font-size: 75px;
}
.emailHeader{
	text-align: center;
	margin-top: 10px;
	font-family: 'Helvetica Neue', sans-serif; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1;
	text-shadow: 2px 2px 4px rgb(212,23,30);
	font-size: 45px;
}
p{
	font-family: Georgia;
}
footer{
	text-align: center;
	letter-spacing: 5px;
}
body{
	margin:0;
	padding:0;
	background: rgb(251,251,223)
}
.showResult{
	display: none;
	margin: 0 auto;
	width: 200px;
}
#btn1{
	margin-top: 20px;
	margin-bottom: 40px;
}
.bar1{
	height: 30px;
	width: 40px;
	background-color: red;
}
.bar2{
	height: 30px;
	width: 40px;
	background-color: blue;

}
.bar3{
	height: 30px;
	width: 40px;
	background-color: red;

}
.bar4{
	height: 30px;
	width: 40px;
	background-color: blue;

}
.vote{
	margin-left: 30px;
}
.askForVote{
	text-align: center;
}
.votebox{
	text-align: center;
}
.col1{
	margin-left: 40px;
	width: 60x;
	float: left;
	border: solid;
}
.col2{
	margin-left: 40px;
	width: 60x;
	float: left;
	border: solid;
}
.col3{
	margin-left: 40px;
	width: 60x;
	float: left;
	border: solid;
}
.col4{
	margin-left: 40px;
	width: 60x;
	float: left;
	border: solid;
}
.photo{
	width: 600px;
}
.image{
	width: 40px;
}
#centerVoteBox{
	width:200px;
	margin: 0 auto;
}