#topBar{
	width: 100%;
	z-index:1;
}
#contain{
	position:relative;
}

#center{
	width: 1014px;
	height: 510px;
	margin: 0 auto;
}

.demHeader{
	margin: 10px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 50px;

}

.repHeader{
	margin: 10px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 50px;

}

#leftCol{
	float: left;
	width: 500px;
	height: 500px;
	border: 2px #000 solid;
	border-radius: 10px;
	margin-right: 6px;
}

#democratDiv{
	width:500px;
	height:150px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 2px #000 solid;
	background: rgb(84,156,201)
}

.leftPicText{
	padding:20px;
}

.circle{
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

IMG.pic{
	width:140px;
	height:140px;
	display:block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#rightCol{
	float:left;
	width: 500px;
	height: 500px;
	border-radius: 10px;
	border: 2px #000 solid;
}

#repubDiv{
	width:500px;
	height:150px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 2px #000 solid;
	background: rgb(84,156,201)
}

#spaceBetweenParties{
	margin-top: 10px;
}

.centerHeader{
	text-align: center;
	position:absolute;
	left: 15%;
	right:15%;
	top:15%;
	bottom: 15%;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgb(251,251,223);
	z-index:1;
	letter-spacing: 5px;
	font-family: Verdana;
	font-size: 65px;
}

body{
	margin:0;
	padding:0;
	margin-top:0;
	background: rgb(251,251,223)
}