#topBar{
	width: 100%;
	z-index:1;
}
#contain{
	position:relative;
}
.nav-bar{
	background-color: #cc0000;
	width: 100%;
	position: relative;
	padding: 20px 0;
}
ul{
	
	margin: 0;
	padding: 0;
	text-align: center;
}
.nav-ul{

}
li{
	list-style-type: none; 
	display: inline-block;
	margin: 0 15px;
	position: relative;
}
a{
	text-decoration: none;
	color: #fff;
}

.bar-motion{
	font-size: 20px;
	letter-spacing: 5px;
}
.bar-motion:hover {
	font-size: 25px;
	font-family: 'KulminoituvaRegular', helvetica, sans-serif;
	-ms-transform:rotate(-45deg); 
 	-moz-transform:rotate(-45deg);
  	-webkit-transform:rotate(-45deg);
  	-o-transform:rotate(-45deg);
	color: rgb(0,93,150);
}

#center{
	width: 1014px;
	height: 510px;
	margin: 0 auto;
}

.demHeader{
	margin: 10px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 60px;
	color: rgb(0,93,150);
	text-shadow: 2px 2px 4px rgb(84,156,201);

}

.repHeader{
	margin: 10px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 60px;
	color:rgb(121,1,2);
	text-shadow: 2px 2px 4px rgb(212,23,30);
}

#leftCol{
	float: left;
	width: 500px;
	height: 500px;
	border: 2px #000 solid;
	border-radius: 10px;
	margin-right: 6px;
}

#democratDiv{
	width:500px;
	height:150px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 2px #000 solid;
	background: rgb(84,156,201);
}

.leftPicText{
	padding:20px;
}
.rightPicText{
	padding:20px;
}

.candHeader{
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
	letter-spacing: 5px;
	font-family: Verdana;
	font-size: 30px;
}

.circle{
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

IMG.pic{
	width:140px;
	height:140px;
	display:block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#rightCol{
	float:left;
	width: 500px;
	height: 500px;
	border-radius: 10px;
	border: 2px #000 solid;
}

#repubDiv{
	width:500px;
	height:150px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 2px #000 solid;
	background: rgb(84,156,201)
}

#spaceBetweenParties{
	margin-top: 10px;
}

.centerHeader{
	text-align: center;
	position:absolute;
	left: 15%;
	right:15%;
	top:15%;
	bottom: 15%;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgb(251,251,223);
	z-index:1;
	font-family: 'Helvetica Neue', sans-serif; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1;
	text-shadow: 2px 2px 4px rgb(212,23,30);
	/*letter-spacing: 5px;*/
	font-size: 75px;
}
.emailHeader{
	text-align: center;
	font-family: 'Helvetica Neue', sans-serif; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1;
	text-shadow: 2px 2px 4px rgb(212,23,30);
	font-size: 45px;

}

footer{
	text-align: center;
	letter-spacing: 5px;
}
body{
	margin:0;
	padding:0;
	margin-top:0;
	background: rgb(251,251,223)
}
.showResult{
	display: none;
	margin: 0 auto;
	width: 200px;
}
#btn1{
	margin-top: 20px;
	margin-bottom: 40px;
}
.bar1{
	height: 30px;
	width: 40px;
	background-color: red;
}
.bar2{
	height: 30px;
	width: 40px;
	background-color: blue;

}
.bar3{
	height: 30px;
	width: 40px;
	background-color: red;

}
.bar4{
	height: 30px;
	width: 40px;
	background-color: blue;

}
.vote{
	margin-left: 30px;
}
.askForVote{
	text-align: center;
}
.votebox{
	text-align: center;
}